{% extends 'base.html' %}

{% block main %}
  {% for book in books %}
    <div class="col-6 col-sm-6 col-lg-4">
      <h4>{{ book['bookname'] }}</h4>
      <img class='book-img-middle' src='{{ book["picture"] }}'>
      <p>
        <span class='author'>{{ book['author']}}</span><br>
        <span class='rates'>{{ book['average_score'] }}</span>
      </p>
    </div>
  {% end for %}
{% end block %}

{% block side %}
  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
      <!-- <a href="#" class="list-group-item">Link</a> -->
    </div>
  </div>
{% end block %}
