{% extends base.html %}

  {% block title %}
    <title>Register</title>
  {% end block %}

  {% block main %}
  <form id='registerform' method='POST' class="form-inline" style='margin: 2% 0 0 30%;' role="form">
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" name="email" placeholder="Enter email">
    </div><br><br>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="pw1" placeholder="Password">
    </div><br><br>
    <div class="form-group">
      <label>Enter again</label>
      <input type="password" class="form-control" name="pw2" placeholder="Password">
    </div><br><br>
    {% include 'tags.html' %}
    <br>
    <button type="submit" class="btn btn-default">Register</button>
    <span id='status'><span>
  </form>

  {% end block %}

  {% block js %}
  <script src="{{ static_url('js/register.js') }}"></script>
  {% end block %}





