{% extends base.html %}

  {% block title %}
    <title>Settings</title>
  {% end block %}

  {% block main %}
  <form id='settingsform' method='POST' class="form-inline" style='margin: 2% 0 0 30%;' role="form">
    <div class="form-group">
      <label>旧密码</label>
      <input type="password" class="form-control" name="pw1" placeholder="Password">
    </div><br><br>
    <div class="form-group">
      <label>新密码</label>
      <input type="password" class="form-control" name="pw2" placeholder="Password">
    </div><br><br>
    {% include 'tags.html' %}
    <button type="submit" class="btn btn-default">Login</button>
    <span id='status'><span>

    <script>
      var tags = {{ tags }};
    </script>
  </form>

  {% end block %}

  {% block js %}
  <script src="{{ static_url('js/settings.js') }}"></script>
  {% end block %}





