<div class="form-group">
  <label>感兴趣的图书标签</label><br>
  <div class="checkbox" style='font-size: 17px;'>
    <label><input name='0' type='checkbox'>小说</label>
    <label><input name='1' type='checkbox'>随笔</label>
    <label><input name='2' type='checkbox'>散文</label>
    <label><input name='3' type='checkbox'>日本文学</label>
    <br><br>
    <label><input name='4' type='checkbox'>童话</label>
    <label><input name='5' type='checkbox'>诗歌</label>
    <label><input name='6' type='checkbox'>名著</label>
    <label><input name='7' type='checkbox'>港台</label>
    <br><br>
    <label><input name='8' type='checkbox'>漫画</label>
    <label><input name='9' type='checkbox'>绘本</label>
    <label><input name='10' type='checkbox'>推理</label>
    <label><input name='11' type='checkbox'>青春</label>
    <br><br>
    <label><input name='12' type='checkbox'>言情</label>
    <label><input name='13' type='checkbox'>科幻</label>
    <label><input name='14' type='checkbox'>武侠</label>
    <label><input name='15' type='checkbox'>奇幻</label>
    <br><br>
    <label><input name='16' type='checkbox'>历史</label>
    <label><input name='17' type='checkbox'>哲学</label>
    <label><input name='18' type='checkbox'>传记</label>
    <label><input name='19' type='checkbox'>设计</label>
    <br><br>
    <label><input name='20' type='checkbox'>建筑</label>
    <label><input name='21' type='checkbox'>电影</label>
    <label><input name='22' type='checkbox'>回忆录</label>
    <label><input name='23' type='checkbox'>音乐</label>
    <br><br>
    <label><input name='24' type='checkbox'>旅行</label>
    <label><input name='25' type='checkbox'>励志</label>
    <label><input name='26' type='checkbox'>职场</label>
    <label><input name='27' type='checkbox'>美食</label>
    <br><br>
    <label><input name='28' type='checkbox'>教育</label>
    <label><input name='29' type='checkbox'>灵修</label>
    <label><input name='30' type='checkbox'>健康</label>
    <label><input name='31' type='checkbox'>家居</label>
    <br><br>
    <label><input name='32' type='checkbox'>经济学</label>
    <label><input name='33' type='checkbox'>管理</label>
    <label><input name='34' type='checkbox'>金融</label>
    <label><input name='35' type='checkbox'>商业</label>
    <br><br>
    <label><input name='36' type='checkbox'>营销</label>
    <label><input name='37' type='checkbox'>理财</label>
    <label><input name='38' type='checkbox'>股票</label>
    <label><input name='39' type='checkbox'>企业史</label>
    <br><br>
    <label><input name='40' type='checkbox'>科普</label>
    <label><input name='41' type='checkbox'>互联网</label>
    <label><input name='42' type='checkbox'>编程</label>
    <label><input name='43' type='checkbox'>交互设计</label>
    <br><br>
    <label><input name='44' type='checkbox'>算法</label>
    <label><input name='45' type='checkbox'>通信</label>
    <label><input name='46' type='checkbox'>神经网络</label>
  </div>
</div><br><br>
